## Aliases manually included from ~/.bashrc

# Common *nix commands
alias ka=killall

# ls
alias ll="ls -lh"

# Dirs
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# Editor
alias ec=emacsclient
alias g=git

# Screen
alias sc='screen'
alias scs='screen -S'
alias sls='screen -ls'
alias svem='screen -rx em || screen -c ~/.screenrc.d/v-emacs-irssi'
alias hssnth='screen -rx hem || screen -c ~/.screenrc.d/home-snth-emacs'
alias hssnth-local='screen -rx local || screen -c ~/.screenrc.d/home-snth-emacs-local'
alias dsgit='screen -c ~/.screenrc.d/dev-git'
alias dsgitlab-gdk='screen -c ~/.screenrc.d/dev-gitlab-gdk'

# Perl
alias pd=perldoc
alias pdf='perldoc -f'

alias lperl="perl -Ilib"
function lbperl {
    # From jrockway
    perl -Ilib "bin/$1";
}

# dos2unix & unix2dos 
alias d2u="sed 's/$//'"
alias u2d="sed 's/$//'"

# ???
alias lsofnames="lsof | awk '!/^\$/ && /\// { print \$9 }' | sort -u"

# Print my IP -- also https://wtfismyip.com/json
alias myip="wget -q -O- https://wtfismyip.com/text"

if which mpv >/dev/null 2>&1
then
    alias mplayer=mpv
fi
